---
import BlogGridItem from "./BlogGridItem.astro";
const { posts } = Astro.props;

const postData = posts && posts.data ? posts.data : [];

---

<div class="grid grid-cols-4 gap-6">
  {
    postData.length > 0
      ? postData.map((post) => <BlogGridItem post={post} />)
      : "No posts found"
  }
</div>
